<!-- Footer -->
{% load static %}
<hr/>
<footer class="font-small pt-4 my-4" id="Footer">

    <!-- Footer Text -->
    <div class="container text-center">
        <div class="container">
            <img src="{% get_static_prefix %}images/Logo/default-monochrome.png" alt="logo" width=200>
        </div>
        <a href="{% url 'about-index' %}" style="color: black"> About us</a>
        <l> - </l>
        <a href="{% url 'docs-index' %}" style="color: black"> Documentation</a>


    </div>

    <!-- Footer Text -->


</footer>
<!-- Footer -->
