{# Determines buttons for navigation bar based on if user is logged in or not #}

{% load static %}
<link rel="stylesheet" href="{% static "css/avatar.css" %}">

<div class="d-flex btn-group">
    <button type="button" class="btn btn-outline-light my-2 my-sm-0 me-4 dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="fas fa-user"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end me-4">
        <li><h6 class="dropdown-header">{{ user.first_name }} <br>
            {{ user.email }}</h6></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'logout-index' %}">Log out</a></li>
    </ul>
</div>
